<div class="overlay" role="dialog" tabindex="-1">
	<div class="title_bar">
		<div class="left">
			<div class="title">
				"No title for now"
			</div>
		</div>
		<div class="right">
			<!--consider doing some work here to allow overlays to be minimized-->
			<!--todo: for now we will use the letter x, replace with a sprite sheet soon-->
			<div role="button" tabindex="0" class="btn btn_close">X</div>
		</div>
	</div>
	<div class="content"></div>
	<div class="footer_bar">
		<div class="left"></div>
		<div class="right">
			<!--need a for loop to load additional buttons-->
			<button class="ovrly_btn btn_primary btn_cancel" tabindex="0" role="button" title="Cancel" aria-label="cancel">
				Cancel
			</button>
		</div>
	</div>
</div>
