/* You can add global styles to this file, and also import other style files */
/*root styles variables should be added here to be accessible to other app features*/
:root {
  --theme-color-1: #acacac;
  --background-doc-color: #000000;
  --background-doc-color-alt: #FFFFFF;
  --button-border-color: #acacac
}

body {
  margin: 0;
  max-height: 100%!important;
  overflow: hidden;
}

div.btn-group {
  display: inline-block;
  margin: 5px;
}

div.btn-group button,
div.btn-group .button {
  border: none;
  border-radius: 0;
}
/**all element*/
div.btn-group button:nth-of-type(1n),
div.btn-group .button:nth-of-type(1n) {
  border-top: 1px solid var(--button-border-color);
  border-bottom: 1px solid var(--button-border-color);
  border-left: 1px solid var(--button-border-color);
}

/*first child of element*/
div.btn-group button:first-child,
div.btn-group .button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/*last child of element*/
div.btn-group button:last-child,
div.btn-group .button:last-child{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 1px solid var(--button-border-color);
}

button.default {
  background-color: #3ca2f0;
  border-color: #0D3B50;
}

button.warning {
  background-color: #8d0000;
  color: #fff;
}

button.forbidden {
  background-color: #000f00;
  color: #ffffff;
}

button {
  background-color: #FFFFFF;
}

button:hover {
  background: #000;
  color: #FFFFFF;
}
